nav{
  background: rgba(0, 0, 0, 0);
}
nav a img{
  width: 20%;
  height: auto;
}
header{
  width:100%;
  height:50vh;
  padding-top:0;
  padding-bottom:0
  color:#fff;
  background:url(/images/background.png) no-repeat,#EB0090;
  background:url(/images/background.png) no-repeat,-webkit-linear-gradient(to bottom,#EB0090,#93005B,#004B9E);
  background:url(/images/background.png) no-repeat,linear-gradient(to bottom,#EB0090,#93005B,#004B9E);
  background-size: 100%;
  background-position: bottom;
}
